<div class="sidebar">
    <div class="sidebar__item">
        <div class="sidebar__item-title">
            ОБЩИЕ ЛЕНТЫ
        </div>
        <div class="sidebar__item-option" data-option="all">
            <a href="/news/all" class="sidebar__item-option-link {{#if isAll}}sidebar__item-option-link_selected{{/if}}">Все новости</a>
        </div>
    </div>
    <div class="sidebar_item">
        <div class="sidebar__item-title">
            ВАШИ ЛЕНТЫ
        </div>
        <div class="sidebar__item-option" data-option="person_unread">
            <a href="/news/person_unread" class="sidebar__item-option-link {{#if isPersonUnread}}sidebar__item-option-link_selected{{/if}}">Непрочитанные новости <span>{{unreadCount}}</span></a>
        </div>
        <div class="sidebar__item-option" data-option="person_unread">
            <a href="/news/person_all" class="sidebar__item-option-link {{#if isPersonAll}}sidebar__item-option-link_selected{{/if}}">Все новости <span>{{allCount}}</span></a>
        </div>
        <div class="sidebar__item-option" data-option="person_saved">
            <a href="/news/person_saved" class="sidebar__item-option-link {{#if isPersonSaved}}sidebar__item-option-link_selected{{/if}}">Сохраненные новости</a>
        </div>
        <div class="sidebar__item-list">
            <div class="sidebar__item-list-title">
                Список ваших лент
            </div>
            {{#each lents}}
                <div class="sidebar__item-list-item">
                    <div class="sidebar__item-list-item-title">
                        {{this.title}}
                    </div>
                    <div class="sidebar__item-list-item-unfollow-btn" data-_id="{{this._id}}" data-title="Unfollow">
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>