{{> head}}

<body>
  <div class="container">
    {{> sidebar}}
    <div class="container-content">
        {{{ body }}}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/indexScript.js"></script>
  {{#if isDataChange}}
      <script src="/dataBaseAdmin.js"></script>
  {{/if}}

</body>

</html>