<button class="test-btn">add news lent</button>
<button class="send-btn">ADD USER</button>
<button class="addlent-btn">ADD LENT TO USER</button>
<button class="dellent-btn">Delete LENT TO USER</button>
<textarea class="title"></textarea>
<textarea class="desc"></textarea>
<textarea class="price"></textarea>