* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
body {
  background-color: #00bb77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}
.container {
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
}

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar {
  position: fixed;
  width: 20%;
  padding-top: 10%;
  padding-left: 3%;
  padding-right: 3%;
  background: lightgray;
  height: 100%;
  overflow: auto;

}
.sidebar__item {
  margin-bottom: 20px;
}
.sidebar__item-title {
  font-size: 19px;
  margin-bottom: 10px;
}
.sidebar__item-option {
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.sidebar__item-option_selected {
  color: red;
}
.sidebar__item-option:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.sidebar__item-option-link {
  text-decoration: none;
  color: black;
}

.sidebar__item-option-link_selected {
  color: green;
}
.sidebar__item-list-title {
  margin-top: 10px;
}
.sidebar__item-list:hover {
  cursor: pointer;
}
.sidebar__item-list-item {
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-top: 10px;
}
.sidebar__item-list-item-title {
  width: 80%;
  font-size: 15px;
}
.sidebar__item-list-item-unfollow-btn {
  background: url("criss-cross.svg") no-repeat;
  width: 10px;
  height: 10px;
  background-size: cover;
  margin-left: 10px;
}
.sidebar__item-list-item-unfollow-btn:hover::before {
  position: relative;
  top: -20px;
  left: -20px;
  content: attr(data-title);
  background: white;
}
.sidebar__item-list-btn-add {
  margin-top: 10px;
}
.sidebar__item-list-btn-add:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.news-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-list__item {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 7px;
  max-width: 50%;
  overflow: hidden;
  padding: 10px;

}
.news-list__item_read {
  color: gray;
}
.news-list__item:hover{
  cursor: pointer;
}
.news-list__item-heading{
  display: flex;
  justify-content: space-between;
}

.news-list__item-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  width: 85%;

}
.news-list__item-parent-lent-title{
  margin-bottom: 7px;
  overflow: hidden;
  max-height: 18px;
}
.news-list__item-description {
  max-height: 50px;
  font-size: 22px;
  overflow: hidden;
  margin-bottom: 5px;
}

.news-list__item-mark {
  width: 50px;
  height: 50px;
  background: url("star.svg") no-repeat;
  background-size: cover;
}

.news-list__item-mark_saved {
  width: 50px;
  height: 50px;
  background: url("star_active.svg") no-repeat;
  background-size: cover;
}

.popup-window {
  z-index: 3;
  position: fixed;
  display: none;
}
.popup-window__background {
  z-index: 4;
  position: fixed;
  opacity: 50%;
  width: 100%;
  height: 100%;
  background: #00bb77;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.popup-window__container{
  z-index: 5;
  overflow: auto;
  top: 0;
  padding: 10%;
  left: 20%;
  width: 60%;
  height: 100%;
  position: fixed;
  background: white;
}
.popup-window__container-btn-close {
  align-self: start;
}
.popup-window__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.popup-window__heading-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 85%;
}
.popup-window__heading-mark {
  width: 50px;
  height: 50px;
  background: url("star.svg") no-repeat;
  background-size: cover;
}
.popup-window__heading-mark:hover {
  cursor: pointer;
}

.popup-window__heading-mark_saved {
  width: 50px;
  height: 50px;
  background: url("star_active.svg") no-repeat;
  background-size: cover;
}
.popup-window__info {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.popup-window__info-lent-title {
  font-size: 13px;
  width: 80%;
}
.popup-window__info-lent-btn-follow {
  font-size: 16px;
  width: 100px;
  border: 1px solid black;
  background-color: #00bb77;
  text-align: center;
  height: 40px;
  padding-top: 12px;

}
.popup-window__info-lent-btn-follow:hover {
  cursor: pointer;
}
.popup-window__info-lent-btn-follow_followed {
  background-color: red;
}

.popup-window__additional-info-container {
  display: flex;
  margin-bottom: 20px;
}
.popup-window__additional-info-author {
  font-size: 13px;
}
.popup-window__additional-info-pub-date {
  font-size: 13px;
  margin-right: 10px;

}
.popup-window__description {
  font-size: 16px;
  margin-bottom: 10px;
}
.popup-window__btn-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.popup-window__add-lent-container{
  position: fixed;
  z-index: 5;
  top: 20%;
  width: 50%;
  left: 25%;
  background: white;
  padding: 10%;
  border-radius: 5px;
}
.add-lent-form__rss-url-input-container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}
.add-lent-form__rss-url-input-container::before {
  content: attr(data-text);
  position: absolute;
  padding: 4px;
  top: 37%;
  left: -100px;
  width: 70px;
  color: white;
  opacity: 0;
  background-color: #e64848;
  border: 2px solid #e64848;
  border-radius: 5px;
  transform: translateX(15px);
  transition: all ease-in 0.35s;
  text-align: center;
  font-size: 12px;

}
.add-lent-form__rss-url-input-container.add-lent-form__rss-url-input-container__error::before {
  transform: translateX(0);
  opacity: 1;
}
.add-lent-form__rss-url-input-container label {
  margin-bottom: 5px;
}
.add-lent-form__rss-url-input-container input {
  height: 25px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 5px;
}
.add-lent-form__rss-url-input-container input:focus {
  outline: none;
  border-color: #2bb24c;
}
.add-lent-form__rss-url-input-container.add-lent-form__rss-url-input-container__error input {
  border-color: #e64848;
}

.add-lent-form__btn-container {
  display: flex;
}
.add-lent-form__btn-add, .add-lent-form__btn-close {
  border-radius: 5px;
  font-size: 15px;
  padding: 7px;
  border: none;
}
.add-lent-form__btn-add {
  margin-right: 20px;
  background-color: #2bb24c;
  color: white;
}
.add-lent-form__btn-add:hover, .add-lent-form__btn-close:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.add-lent-form__btn-close {
  background-color: #e64848;
  color: white;
}